@model ROS.Web.Models.Club

@{
    ViewData["Title"] = "Details";
}

<div>
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FoundedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoundedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JoinedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JoinedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Owner.UserName == Context.User.Identity.Name)
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        </div>
    }
    else
    {
        <div>
            <a href="mailto:@Model.Owner.Email?subject=@Model.Name">Kontakta klubbens ägare</a>
        </div>
    }
    <a asp-action="Index">Back to List</a>
</div>
