@model IEnumerable<ROS.Web.Models.Club>

@{
    ViewData["Title"] = "Index";
}

<h2>Clubs</h2>

@if (Context.User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Antal Medlemmar
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoundedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>

                    @*Just nu så räknas inte Club Owner med i Club Users, så Club Users är alltid 0 när klubben har skapats
                      Behövs en mer graciös lösning*@
                    @if (item.ClubUsers != null)
                    {
                        if (item.ClubUsers.Count > 0)
                        {
                            @Html.DisplayFor(modelItem => item.ClubUsers.Count)
                        }

                    }
                    else
                    {
                        @:0
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoundedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (Context.User.Identity.Name == item.Owner.UserName)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else
                    {
                        <a asp-action="Apply" asp-route-id="@item.Id">Apply</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
