@model IEnumerable<ROS.Web.Models.ClubViewModels.GetClubsViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Klubbar</h1>
</div>

@if (Context.User.Identity.IsAuthenticated)
{
    <h5 class="text-center">
            @Html.DisplayNameFor(model => model.ClubName) <a asp-action="index" asp-route-sortorder="@ViewData["NameSortParm"]" class="fa fa-fw fa-sort text-dark"></a>
        @Html.DisplayNameFor(model => model.NumberOfMembers) <a asp-action="index" asp-route-sortorder="@ViewData["MemberSortParm"]" class="fa fa-fw fa-sort text-dark"></a>

        @Html.DisplayNameFor(model => model.FoundedDate)
        <a asp-action="index" asp-route-sortorder="@ViewData["DateSortParm"]" class="fa fa-fw fa-sort text-dark"></a>
    </h5>

    @foreach (var item in Model)
    {
        @await Html.PartialAsync("Partial/ClubListItem", item);
    }
}

