@model ROS.Web.Models.Regatta
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
    <h4>Regatta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            <a href="https://www.google.com/maps/dir/?api=1&destination=@ViewBag.NavUrlEncoded" target="_blank">@Html.DisplayFor(model => model.Address)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy.UserName)
        </dd>
    </dl>
</div>
@if (Context.User.Identity.IsAuthenticated)
{
    @if (ViewBag.IsRegistered)
    {
        <div class="mb-1">
            <a href="#" class="btn btn-success disabled">Du är redan anmäld</a>
        </div>
    }
    else
    {
        <div class="mb-1">
            <a asp-action="Register" asp-route-id="@Model.Id" class="btn btn-success">Anmäl dig</a>
        </div>
    }

    <div class="mb-1">
        <a href="mailto:@Model.CreatedBy.Email?subject=@Model.Title" class="btn btn-info">Kontakta värden</a>
    </div>
}
<div>
    <div class="btn-group mb-1" role="group">
        @if (Model.CreatedBy.Email == Context.User.Identity.Name)
        {
            <a asp-action="ViewRegistrations" asp-route-id="@Model.Id" class="btn btn-secondary">Visa anmälda</a>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Redigera</a>
        }
    </div>
</div>
