@model ROS.Web.Models.Regatta
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
    <h4>Regatta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy.UserName)
        </dd>
    </dl>
</div>
@if (Context.User.Identity.IsAuthenticated)
{
    @if (ViewBag.IsRegistered)
    {
        <div>
            Du har redan registrerat dig.
        </div>
    }
    else
    {
        <div>
            <a asp-action="Register" asp-route-id="@Model.Id">Registrera dig</a>
        </div>
    }

    <div>
        <a href="mailto:@Model.CreatedBy.Email?subject=@Model.Title">Kontakta värden</a>
    </div>
}
<div>
    @if (Model.CreatedBy.Email == Context.User.Identity.Name)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> @:|
    }
    <a asp-action="Index">Back to List</a>
</div>
