@model ROS.Web.Models.Boat

@{
    ViewData["Title"] = "Delete";
}

<h1 class="font-weight-bold">Borttagning</h1>

<h3>Är du säker på att du vill ta bort den här båten?</h3>
<div>
    <h4>Båt</h4>
    <hr />
    <dl class="dl-horizontal lead text-dark font-weight-bold tabellhuvve">
        <dt">
            @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="tabelltext font-weight-normal">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="tabelltext font-weight-normal">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Certificate)
            </dt>
            <dd class="tabelltext font-weight-normal">
                @Html.DisplayFor(model => model.Certificate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HandicapStandardWithForesail)
            </dt>
            <dd class="tabelltext font-weight-normal">
                @Html.DisplayFor(model => model.HandicapStandardWithForesail)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HandicapStandardWithoutForesail)
            </dt>
            <dd class="tabelltext font-weight-normal">
                @Html.DisplayFor(model => model.HandicapStandardWithoutForesail)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HandicapShorthandedWithForesail)
            </dt>
            <dd class="tabelltext font-weight-normal">
                @Html.DisplayFor(model => model.HandicapShorthandedWithForesail)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HandicapShorthandedWithoutForesail)
            </dt>
            <dd class="tabelltext font-weight-normal">
                @Html.DisplayFor(model => model.HandicapShorthandedWithoutForesail)
            </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Tag bort båt" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
