@model IEnumerable<ROS.Web.Models.Boat>

@{
    ViewData["Title"] = "Index";
}

<div>
    <h1 class="display-4">Mina båtar</h1>
</div>

<p>
    @*   //funkar nu också när man satta id till null, men blir en länk och ingen knapp:
        Html.ActionLink("Registrera båt", "Create", null, new { @class = "btn btn-outline-info ml-2 marginabove" })  *@

    <a asp-controller="Boats" asp-action="Create" class="btn btn-outline-info ml-2 marginabove">Registrera båt</a>
</p>

    

<div class="card-deck">

    @foreach (var item in Model)
    {

        <div class="card col-md-3 bg-light border-dark">

            
                <img class="img-responsive img-thumbnail" src="~/images/beach-blue-boat-996328.jpg" alt="Boat Image">
            
            
            
            <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <div class="card-text">@Html.DisplayFor(modelItem => item.Type)</div>
                    <div class="card-text">@Html.DisplayFor(modelItem => item.ModelYear)</div>
                    
                    <p>
                        @Html.ActionLink("Visa mer >", "Details", new { id = @item.Id }, new { @class = "btn btn-outline-info ml-2 marginabove btn-sm float-right" })

                    </p>

                </div>
            </div>
        

    }

</div>








